$firstcolor:#2960BE;
$whiteColor:#fff;
$blackColor:#000000;



body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(40, 87, 148, 0.733), rgba(26, 72, 146, 0.431)),
    url("../Images/back.jpg");
}


@mixin flexbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  @include flexbox();
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {

  border-radius: 10px 10px 10px 10px;
  background: $whiteColor;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

#icon {
  margin-top: 10px;
}

.btn-Log {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

%btn {

  background-color: $firstcolor;
  border: none;
  color: $whiteColor;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 15px 20px 40px 20px;
  transition: all 0.3s ease-in-out;

}

%txt {
  background-color: #f6f6f6;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

input[type=submit],
input[type=button] {
  @extend %btn;

  &:hover {
    background-color: #4383cc;
  }

  &:active {
    transform: scale(0.95);
  }
}

input[type=text],
input[type=password],
input[type=email],
textarea,
select {
  @extend %txt;

  &:focus {
    background-color: $whiteColor;
    border-bottom: 2px solid #2960BE;
  }

  &::placeholder {
    color: #626161;
  }
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {

  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@media only screen and (max-width: 400px) {

  .btn-Log {
    flex-direction: column;
    justify-content: center;
  }

}